target/
.mooncakes/
used_insts.txt
smb
hash
smb.wasm
web/*.nes
*.nes
raylib-quickstart/
.idea/
fm2/
smb.dSYM
.clangd
.DS_Store
*.dSYM
*.dot
*.svg
*.sav
3ds/build
3ds/*.3dsx
3ds/*.elf
3ds/*.smdh
3ds/source/chr_rom.h
platform/neogeo/build/
_build/
__pycache__/
